/*Aqui estou importando uma fonte personalizada*/
@font-face {
  font-family: Nunito;
  src: url(../assets/fonts/Nunito-Regular.ttf);
 }

 @font-face {
  font-family: Nunito-Black;
  src: url(../assets/fonts/Nunito-Black.ttf);
 }

/*Escolhi zerar o margin e padding de toda a página, bem como adicionar à ela a fonte personalizada Nunito que eu instalei logo acima*/
*{
  margin: 0px;
  padding: 0px;
  font-family: "Nunito";
}

/*---Posicionamento da logo---*/
#banner-site {
  margin: 25px 5%;
  position: absolute;
}

/*---Estilização do menu do header principal da página---*/
#navbarMenuHeader{
  width: 100vw; /*Tamanho do container do meu menu*/
  margin: 40px 18%; /*Posicionamento dele*/
  position: absolute;
  z-index: 1; /*Mexi no eixo Z dele pois quando acrescentei o slider percebi que os sub-itens do menu ficavam escondidos, porque as "camadas" do projeto respeitam a ordem que são adicionados, então com essa linha de código consegui manter o menu à frente*/
}

/*Estilização da lista do menu*/
#itemMenu li {
  list-style: none; /*Impede com que cada tópico tenha um sinal de lista, ex.: •*/
}

/*Estilização da lista do menu em todos estados sem interação momentânea*/
#itemMenu li a, #itemMenu li a:link, itemMenu li a:visited {
  color: #333333;
  display: block;/*Linha necessária para que os sub-itens fiquem um abaixo do outro*/
  font-size: 13px;
  text-decoration: none;/*Linha para tirar o sublinhado dos links/itens do menu*/
  padding: 0px 15px;
}

/*Estilização da lista do menu em todos estados com interação em paralelo*/
#itemMenu li a:hover, #itemMenu li a:active {
  margin: 0;
  padding: 9px 15px;/*Aqui alterei o padding do eixo Y para dar o efeito de "crescimento" e "deslize" nos itens-pais*/
  transition: ease-in 0.7s;/*Efeito de transição crescente, não deixa algo muito "abrupto"*/
  background-color: #ededed;   
}

/*Estilização dos sub-itens do menu*/
#itemMenu li li a, #itemMenu li li a:link, #itemMenu li li a:visited {
  width: 150px;
  font-size: 13px;
  padding: 8px 15px;
  border-bottom: 1px solid #fff;
  background-color: #f1f1f3;
}

/*Estilização dos sub-itens do menu com hover (passar o mouse por cima). Enquanto os itens-pais tem um crescimento no eixo Y, os filhos tem uma diminuição do eixo X*/
#itemMenu li li a:hover, #itemMenu li li a:active {
  padding: 8px 10px;
  background-color: #ededed;
}

/*Impede com que um item-pai fique abaixo do outro, bem como durante a transição, apenas o hover dê o leve efeito de "abaixar"*/
#itemMenu li {
  float: left;
  padding: 0;
}

/*Aqui deixamos os sub-itens "guardados" dentro dos itens-pais*/
#itemMenu li ul {
  position: absolute;
  left: -999em;
  width: 170px;
  padding: 0;
}

/*E aqui permitimos com que eles possam aparecer no hover dos pais*/
#itemMenu li:hover ul, #itemMenu li li:hover ul, #itemMenu li li li:hover ul, #itemMenu li.sfhover ul, #itemMenu li li.sfhover ul, #itemMenu li li li.sfhover ul {
  left: auto;
}

/*Estilização do input de busca*/
#searchInput {
  padding: 6px;
  border: none;
  border-bottom: 1px solid #7A7A7A;
  font-size: 14px;
  width: 300px;
  position: absolute;
  margin-top: -5px;
  margin-left: 40px;
  outline:none; /*Esta linha serve para tirar a borda padrão do input*/
}

/*Posicionando o ícone de lupa da busca*/
#searchButton {
  position: absolute;
  margin: 0px 325px;
}

/*Posicionando o ícone de "Perfil"*/
#userIcon {
  position: absolute;
  margin: 0px 410px;
}

/*Posicionando e estelizando o link do "Minha conta"*/
#myAccount {
  position: absolute;
  margin: 0px 440px;
  text-decoration: none;/*Tira o sublinhado do link*/
  color:#333333;
  font-size: 13px;
}

/*Posicionando o ícone do carrinho*/
#minicartIcon {
  position: absolute;
  margin: -5px 570px;
}

/*SLIDER-- INÍCIO*/
/*Posição e largura do container-pai do slider*/
.slideshow-container {
  width: 99vw;
  position: absolute;
  margin: 6% 0%;
}

/*Estilização dos botões de "voltar" e "ir" do slider*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
  
/*Posicionamento do botão "próximo" à direita*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
  
/*Hover dos botões "ir" e "voltar", é adicionado um fundo preto com transparência*/
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
  
/*Estilização dos textos que sobrepõem o slider*/

.sliderPhrase1 {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  margin: -210px 205px;
  position: absolute;
}

.sliderPhrase2 {
  font-family: Nunito-Black;
  color: #E9BF33;
  font-weight: bold;
  font-size: 33px;
  margin: -140px 205px;
  position: absolute;
}

#specific-phrase{
    margin-top: -180px;
}
   
/*Estilização das "bolinhas" de navegação do slider*/
/*Posicionamento do container*/
#slidersDots{
  text-align: center;
  position: relative;
  margin-top: 25%;
}

/*Cor normal/interagindo, espaçamento, tamanho*/
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #BDBDBD;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
  background-color: #f8475f;
}
  
/*Animação "Fade" na passagem de slide*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
  
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*Estilização do slider de produtos*/
.list-products {
  padding-top: 35px;
  padding-left: 100px;
  height: 450px;
}

.list-products h2 {
  font-family: Nunito-Black;
  font-weight: bold;
  font-size: 22px;
}

.container-products {
  width: 80%;
  height: 100vh;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container-element {
  width: 216px;
  height: 365px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  margin-top: -240px;
  position: absolute;
}

/*Espaçamento entre cards*/
#container2 {
  margin-left: 240px;
  position: absolute;
}

#container3 {
  margin-left: 480px;
  position: absolute;
}

#container4 {
  margin-left: 720px;
  position: absolute;
}

#container5 {
  margin-left: 960px;
  position: absolute;
}

/*Posicionamento setas slider*/
#leftArrow {
  position: absolute;
  margin: -500px -50px;
}

#rightArrow {
  position: absolute;
  margin: -500px 1200px;
}

#flagImage {
  position: absolute;
  margin: 0px -80px;
}

#productName {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

#rankingImage {
  position: absolute;
  margin: 5px 75px;
}

#originalPrice, #payment {
  position: absolute;
  margin: 25px 75px;
  font-size: 12px;
  color: #7A7A7A;
  width: 100vh;
}

#payment {
  margin: 70px 50px;
}

#currentPrice {
  position: absolute;
  margin: 45px 50px;
  font-weight: bold;
  font-size: 18px;
  color: #000;
  width: 100vh;
}

#whatsappImage {
  position: absolute;
  margin: 100px 65px;
}

.product-menu {
  background:#00E676; 
  border: 0px;  
  height: 32px;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  font-family: Nunito-Black;
  padding-left: 15px;
  font-size: 12px;
  width: 140px;
  border-radius: 7px;
  margin: 91px 40px;
}

/*Estilização newsletter section*/
/*Tamanho e fundo da section*/
.newsletter-container {
  min-height: 170px;
  background-color: #F2F2F2;
}

/*Título do newsletter*/
#title-newsletter {
  padding-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

/*Container dos inputs e botão do form*/
.card-container {
  margin-left: 320px;
}

/*Estilização do input do newsletter*/
.newsletter-input {
  height: 48px;
  width: 280px;
  border: none;
  align-items: center;
  border-radius: 7px;
  margin: 15px 3px;
  padding: 5px;
  padding-left: 20px;
  outline: none;
}

/*Estilização do botão do form*/
.newsletter-menu{
  background:#E9BF33; 
  border: 0px;  
  height: 55px;
  outline: none;
  color: #fff;
  font-size: 16px;
  width: 140px;
  border-radius: 7px;
}

/*Estilização do footer*/
footer{
  height: 200px;
  text-align: left;
  background-color: #000;
  color: #fff;
  padding: 30px;
}

/*Estilização da primeira coluna → "Localização"*/
.column-local {
  width: 40%;
  margin-left: 70px;
}

footer .column-local h2{
  font-size: 22px;
  font-weight: 600;
}

footer .column-local span, .list-products span{
  font-size: 50px;
  font-weight: bold;
  color: #E9BF33;
  margin-top: -20px;
  position: absolute;
}

.list-products span{
  margin-top: -35px;
}

footer .column-local p{
  margin: 40px 0;
  position: absolute;
  line-height: 30px;
}

/*Estilização da segunda coluna → "Contato"*/
.column-contact {
  width: 40%;
  margin-left: 550px;
  flex-direction: column;
  display:flex;
}

footer .column-contact input{
  background:#E9BF33; 
  border: 0px;  
  height: 45px;
  outline: none;
  color: #fff;
  font-size: 12px;
  width: 195px;
  border-radius: 7px;
  margin-top: 20px;
  text-transform: uppercase;
  padding-left: 20px;
  white-space: normal;/*Evita o texto do botão "vazar", assim, se for necessário, ele quebra a linha de texto*/
}

#messageIcon {
  position: absolute;
  margin: 35px 20px;
}

#contactIcon {
  position: absolute;
  margin: 98px 20px;
}

.column-credit{
  width: 20%;
  margin-left: 1000px;
}

#creditIcon {
  position: absolute;
  margin: -70px 20px;
}

/*TENTATIVA DE RESPONSIVIDADE*/
@media (max-width:899px){
  header {
    min-width: 100vw;
    min-height: 15vh;
  }
  #banner-site {
    position: absolute;
    display: block; 
    margin-left: 40px;
    margin-top: 15px;
  }
  #searchInput {
    margin-left: -300px;
    margin-top: 15px;
    width: 40%;
  }
  .slideshow-container {
    margin-top: 10vh;
    min-height: 190px !important; 
  }
}